.content {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 1100px;

  &-header {
    display: flex;
    justify-content: space-between;

    &__title {
      font-weight: 700;
      font-size: 32px;
      line-height: 39px;

      color: #000000;
    }
    &__search {
      position: relative;

      .search-icon {
        position: absolute;

        height: 15px;
        width: 15px;

        left: 12px;
        top: 15px;
      }
    }
    &__input {
      border: 2px solid #f3f3f3;
      color: #000000;

      border-radius: 10px;
      font-size: 14px;
      line-height: 17px;

      width: 250px;
      height: 45px;

      padding-left: 30px;
    }
  }
  &-body {
    display: flex;
    justify-content: space-between;

    &__card {
      background: #ffffff;
      border: 2px solid #f3f3f3;

      border-radius: 40px;
      padding: 25px;
      width: 210px;
      height: 260px;
      margin-top: 40px;

      .img-wrapper {
        position: relative;

        button {
          position: absolute;
        }
      }

      p {
        font-size: 14px;
        line-height: 17px;

        color: #000000;
      }
    }

    &__price {
      display: flex;
      justify-content: space-between;

      margin-top: 13px;
      p {
        font-weight: 500;
        font-size: 11px;
        line-height: 13px;

        text-transform: uppercase;

        color: #bdbdbd;
      }

      span {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;

        color: #000000;
      }
    }
  }
}
